<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

  <head>
    <title>Good Thymes Virtual Grocery</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" media="all" 
          href="../../css/gtvg.css" th:href="@{/css/gtvg.css}" />
  </head>

  <body>
  
    <h3>Liste des patients</h3>
  <table>
	 <thead>
		<tr>
			<th>ID</th><th>Nom</th><th>Date</th><th>Malade</th><th>Score</th>
		</tr>
	 </thead>
  </table>
  </body>

</html>